body {
  font-family: "Merriweather", sans-serif;
  margin: 0;
  background-color: rgb(226, 236, 252);
}

a {
  text-decoration: none;
  color: rgb(84, 132, 188);
}

h1 {
  text-align: center;
  font-family: "Merriweather", sans-serif;
  font-size: 60px;
  color: rgb(83, 132, 188);
  display: block;
  margin: 0;
  padding: 10px;
}

#container {
  height: 350px;
  text-align: center;
  padding: 25px 70px 25px;
}

.text-container {
  text-align: center;
  display: block;
  height: 350px;
  width: 600px;
  margin: 0 auto;
  border-radius: 10px;
}

.quote-paragraph {
  font-family: "Merriweather", sans-serif;
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: rgb(58, 55, 55);
}

.author-paragraph {
  text-align: right;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  color: rgb(40, 35, 35);
}

.button-container {
  text-align: center;
  margin: 30px;
}
button {
  color: rgb(84, 132, 188);
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px;
  border: 2px solid rgb(224, 224, 224);
  font-size: 18px;
  font-weight: 600;
  transition: background-color 0.5s ease-out;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  color: white;
  background-color: rgb(84, 132, 188);
  border: 2px solid rgb(255, 255, 255);
  transform: scale(1.05);
}

footer {
  display: block;
  margin-top: 5rem;
}

footer p {
  text-align: center;
  font-size: 19px;
  font-family: 'Merriweather-Bold', sans-serif;
}
